@media only screen and (min-width: 100px) and (max-width: 1399px) {

  /* Global */
  .container {
    width: 1091px;
  }

  .content h3 {
    font-size: 40px;
    font-weight: 900;
    color: var(--color-dark);
    font-family: var(--font-main);
  }

  .content h5 {
    font-size: 30px;
    font-weight: 100;
    color: var(--color-pink);
    font-family: var(--font-main);
  }

  /* Banner */
  .banner .content h1 {
    font-size: 62px;
  }

  .banner .content h3 {
    font-size: 51px;
  }

  /* Skills */
  section.Skills {
    padding: 81px 56px;
  }

  .Skill-Expect .image img {
    width: 582px;
  }

  .Skill-Expect .content h5 {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
  }

  .Skill-Expect .content h3 {
    font-size: 30px;
    padding: 0px;
  }

  .Skill-Expect .content p {
    line-height: 1.9;
    margin-top: 16px;
    font-size: 14px;
    color: var(--color-para);
    text-align: justify;
  }

  /* Service 1 */
  section.service .row .col-lg-6 {
    width: 50%;
  }

  .service .image img {
    height: 550px;
    object-fit: cover;
  }

  .content-service-1 {
    background-color: var(--color-dark);
    height: 550px;
    padding: 8px 64px;
  }

  .content-service-1 .service-content {
    padding: 91px 0px;
    margin: 0;
  }

  .content-service-1 .service-content h3 {
    font-size: 30px;
    font-weight: 900;
    color: var(--color-white);
  }

  .content-service-1 .service-content h5 {
    font-size: 20px;
    font-weight: 900;
  }

  .content-service-1 .service-content p {
    font-size: 14px;
  }

  /* Service 2 */
  section.service-2 .row .col-lg-6 {
    width: 50%;
  }

  .service-2 .image img {
    height: 656px;
    object-fit: cover;
  }

  .content-service-2 {
    background-color: var(--color-sky);
    padding: 114px 67px;
  }

  .content-service-2 h3 {
    font-size: 30px;
    font-family: var(--font-main);
    color: #000;
    font-weight: 900;
    font-style: italic;
    text-transform: capitalize;
  }

  .content-service-2 h5 {
    font-size: 20px;
    font-family: var(--font-main);
    color: var(--color-pink);
    font-weight: 700;
  }

  .content-service-2 p {
    font-size: 14px;
  }

  .content-service-2 a {
    font-size: 15px;
    padding: 20px 31px;
  }

  /* Blog */
  .icon-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  /* Portfolio */
  .portfolio-sec .images-box img {
    width: 300px;
    height: auto;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
  }

  /* Customer */
  .slider-customer .content-info p {
    color: rgb(37, 35, 35);
    line-height: 1.6;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    width: 70%;
    margin: 0px auto;
  }

  .slider-customer .info P {
    font-size: 14px;
    color: var(--color-pink);
    font-weight: 800;
  }

  /* Meet */
  .meet-sec .image img {
    width: 343px;
    height: 420px;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  /* BG Image */
  .bg-image .content {
    /* position: relative; */
    /* z-index: 2; */
    margin: 0 auto;
  }

  .bg-image .content h3 {
    color: var(--color-white);
  }

  /* Plan & Price */
  .plan-price .price-card {
    max-width: 480px;
  }

  .price-card ul li {
    padding: 12px 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: var(--font-main);
  }

  /* Form */
  section.form .content {
    text-align: left;
  }

  .from-image-sec .image img {
    height: 101vh;
    width: 100%;
    object-fit: cover;
  }

  .form-sec {
    padding: 144px 74px;
  }

  .form-sec .content h3 {
    color: var(--color-white);
    padding: 0px 0px 8px;
  }

  .form-sec .content h5 {
    font-size: 25px;
    font-weight: 100;
    color: var(--color-pink);
    font-family: var(--font-main);
  }

  .form-sec form input {
    padding: 18px 15px;
    margin: 0px 0px 20px 0px;
    width: -webkit-fill-available;
    background-color: var(--color-dark);
    border: 1px solid white;
  }

  /* Footer */
  .nno-card {
    width: 21%;
  }

  .nno-card p {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 800;
    font-family: var(--font-main);
  }

  .nno-card ul li a {
    color: rgb(178, 173, 182);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    font-weight: 900;
    font-family: var(--font-main);
  }

  .footer-image {
    gap: 11px;
  }

  .footer-image img {
    width: 69px;
    height: 69px;
    object-fit: cover;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 100px) and (max-width: 1199px) {

  /* Global */
  .container {
    width: 956px;
  }

  .content h3 {
    font-size: 40px;
    font-weight: 900;
    font-family: var(--font-main);
  }

  .content h5 {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    color: var(--color-pink);
    font-family: var(--font-main);
  }

  /* Banner */
  .banner .content h1 {
    font-size: 60px;
  }

  .banner .content h3 {
    font-size: 56px;
  }

  /* Skills */
  section.Skills {
    padding: 81px 56px;
  }

  .Skill-Expect .image img {
    width: 582px;
  }

  .Skill-Expect .content h5 {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
  }

  .Skill-Expect .content h3 {
    font-size: 35px;
    padding: 0px;
  }

  .Skill-Expect .content p {
    line-height: 1.9;
    margin-top: 16px;
    font-size: 14px;
    color: var(--color-para);
    text-align: justify;
  }

  /* Service 1 */
  section.service .row .col-lg-6 {
    width: 50%;
  }

  .service .image img {
    height: 550px;
    object-fit: cover;
  }

  .content-service-1 {
    background-color: var(--color-dark);
  }

  .content-service-1 .service-content h3 {
    font-size: 30px;
    font-weight: 900;
    color: var(--color-white);
  }

  .content-service-1 .service-content h5 {
    font-weight: 900;
    color: var(--color-pink);
    font-size: 20px;
  }

  .content-service-1 .service-content p {
    font-size: 14px;
  }

  /* Service 2 */
  section.service-2 .row .col-lg-6 {
    width: 50%;
  }

  .service-2 .image img {
    height: 550px;
    object-fit: cover;
  }

  .content-service-2 {
    background-color: var(--color-sky);
    height: 548px;
    padding: 87px 64px;
  }

  .content-service-2 h3 {
    font-size: 30px;
  }

  .content-service-2 h5 {
    font-size: 20px;
  }

  .content-service-2 p {
    font-size: 14px;
  }

  /* Blog */
  .blog-sec {
    gap: 38px;
  }

  /* Portfolio */
  .portfolio-sec .images-box img {
    width: 256px;
    height: auto;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
  }

  /* Sliders Generic */
  .slick-slide img {
    display: block;
    width: 178px;
  }

  /* Customer */
  .slider-customer .content-info p {
    font-size: 20px;
    width: 70%;
    margin: 0px auto;
    font-family: var(--font-para);
  }

  .slider-customer .info P {
    font-size: 13px;
    color: var(--color-pink);
    font-weight: 800;
  }

  /* Meet */
  .meet-sec .image img {
    object-fit: cover;
    transition: transform 0.4s ease;
    width: 300px;
  }

  /* BG Image */
  .bg-image {
    padding: 122px 0px;
  }

  .bg-image .content h3 {
    color: var(--color-white);
    font-size: 35px;
  }

  /* Plan & Price */
  .plan-price .price-card {
    max-width: 480px;
  }

  .price-card ul li {
    font-size: 14px;
    font-family: var(--font-main);
  }

  /* Tips */
  .card-tips h3 {
    font-size: 20px;
    font-weight: 900;
  }

  .card-tips p {
    font-size: 14px;
    font-family: var(--font-main);
  }

  /* Form */
  section.form .content {
    text-align: left;
  }

  .from-image-sec .image {
    width: 50%;
    float: left;
    height: auto;
  }

  .from-image-sec .image img {
    width: 513px;
    object-fit: cover;
    height: 796px;
  }

  .form-sec {
    width: 50%;
    float: left;
    height: auto;
  }

  .form-sec .content h3 {
    font-size: 35px;
    font-weight: 900;
    font-family: var(--font-main);
  }

  .form-sec .content h5 {
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    color: var(--color-pink);
  }

  .form-sec form input {
    padding: 18px 15px;
    margin: 0px 0px 20px 0px;
    background-color: var(--color-dark);
    border: 1px solid white;
  }

  /* Footer */
  .nno-card {
    width: 21%;
  }

  .nno-card p {
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: var(--font-main);
  }

  .footer-image {
    gap: 9px;
  }

  .footer-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 0;
  }
}

/*for-tablet view-768*/
@media only screen and (min-width: 100px) and (max-width: 991px) {

  /* Global */
  .container {
    max-width: 720px;
    width: 90%;
  }

  .content h3 {
    font-size: 30px;
  }

  .content h5 {
    font-size: 20px;
    color: var(--color-pink);
  }

  .logo-navbar .icons i:last-child {
    display: inline-block;
  }

  .logo-navbar .navbar {
    display: none;
  }

  /* Banner */
  .banner {
    height: 744px;
  }

  .banner .content h1 {
    font-size: 44px;
  }

  .banner .content h3 {
    font-size: 36px;
  }

  .img-left-img {
    position: absolute;
    top: 563px;
    left: 0;
  }

  .img-left-img img {
    width: 133px;
    display: block;
  }

  .img-right-img {
    position: absolute;
    top: 95px;
    right: 2px;
  }

  .img-right-img img {
    width: 107px;
    display: block;
  }

  /* Skills */
  section.Skills {
    padding: 81px 11px;
  }

  .Skill-Expect {
    flex-direction: column;
    text-align: center;
  }

  .Skill-Expect .image img {
    width: 582px;
  }

  .Skill-Expect .content h5 {
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
  }

  .Skill-Expect .content h3 {
    font-size: 36px;
    padding: 0px;
  }

  /* Service 1 */
  section.service .row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section.service .row .col-lg-6 {
    width: 100%;
  }

  .service .image img {
    height: 450px;
    object-fit: cover;
  }

  .content-service-1 {
    height: auto;
    padding: 0px 63px;
  }

  .content-service-1 .service-content {
    margin-left: 0;
  }

  /* Service 2 */
  section.service-2 .row {
    flex-direction: column;
  }

  section.service-2 .row .col-lg-6 {
    width: 100%;
  }

  .service-2 .image img {
    height: 450px;
    object-fit: cover;
  }

  /* Blog */
  .blog-sec {
    flex-wrap: wrap;
  }

  .icon-content {
    width: 218px;
  }

  /* Portfolio */
  .portfolio-sec .images-box img {
    width: 384px;
    height: auto;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
  }

  /* Sliders Generic */
  .slick-slide img {
    display: block;
    width: 162px;
  }

  /* Customer */
  .slider-customer .content-info p {
    color: rgb(37, 35, 35);
    line-height: 1.6;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    margin: 0px auto;
    font-family: var(--font-main);
  }

  .slider-customer .info P {
    font-size: 13px;
    font-weight: 600;
    color: var(--color-pink);
  }

  /* Meet */
  section.meet {
    background-color: var(--color-dark);
    padding: 110px 0px;
  }

  section.meet .meet-sec {
    gap: 0px;
    flex-wrap: wrap;
  }

  section.meet .image {
    padding: 30px;
    width: 50%;
  }

  section.meet .image .overlay-text {
    position: absolute;
    top: 50%;
    left: 52.8%;
    height: 77%;
    width: 70%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: 0.4s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: rgb(249, 249, 249);
    border-radius: 3px;
  }

  .meet-sec .image img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  /* BG Image */
  .bg-image {
    padding: 122px;
  }

  .bg-image .content h3 {
    color: var(--color-white);
    font-size: 29px;
    font-family: var(--font-para);
  }

  /* Plan & Price */
  .plan-price .price-card {
    background-color: var(--color-white);
    padding: 43px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }

  .web-inf0 h4 {
    font-size: 32px;
  }

  .dollar-sign p {
    font-size: 75px;
  }

  .price-card ul li {
    font-size: 14px;
  }

  /* Tips */
  .tips .content h3 {
    font-size: 30px;
  }

  .tips .content h5 {
    font-size: 20px;
  }

  .card-tips {
    width: 47%;
  }

  .card-tips h3 {
    font-size: 20px;
    font-weight: 900;
  }

  .card-tips p {
    font-size: 15px;
  }

  .card-tips .card-tips .image img {
    width: 100px;
  }

  /* Form */
  .from-image-sec .image {
    width: 100%;
    float: none;
    height: auto;
  }
  .from-image-sec .image img {
    width: 776px;
    object-fit: cover;
  }

  .form-sec {
    width: 100%;
    float: none;
    height: auto;
    padding: 60px 40px;
  }

  .form-sec .content h3 {
    font-size: 30px;
    font-weight: 900;
    color: var(--color-white);
    padding: 0px 0px 8px 0px;
  }

  .form-sec .content h5 {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    color: var(--color-pink);
  }

  /* Generic Card or Layout */
  .card {
    flex-wrap: wrap;
  }

  /* Footer */
  footer {
    background-color: rgb(41, 15, 66);
    color: var(--color-white);
    position: relative;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    padding: 60px 0;
  }

  .nno-card {
    width: 42%;
  }

  .nno-card p {
    font-family: var(--font-main);
    font-size: 14px;
  }

  .nno-card ul li a {
    font-size: 14px;
    font-family: var(--font-main);
  }

  .newsletter-form input {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: var(--color-white);
    color: #333;
    outline: none;
    font-size: 14px;
  }

  .footer-image {
    gap: 7px;
  }

  .footer-image img {
    width: 90px;
    height: 90px;
    margin-bottom: 0;
  }

  .end-footer {
    padding: 20px;
    text-align: center;
    position: relative;
    background-color: rgb(30, 12, 49);
  }

  .end-footer p {
    color: rgb(160, 158, 158);
    font-size: 14px;
    font-family: var(--font-main);
  }
}

/*for-landscape_mobile view-576*/
@media only screen and (min-width: 100px) and (max-width: 767px) {

  /* Global / Nav */
  .logo-navbar .navbar {
    display: none;
  }

  .logo-navbar .icons i:last-child {
    display: inline-block;
  }

  /* Skills */
  section.Skills {
    padding: 122px;
  }

  /* Customer */
  .slider-customer .content-info p {
    color: rgb(37, 35, 35);
    line-height: 1.6;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    width: 70%;
    margin: 0px auto;
  }

  .slider-customer .info P {
    font-size: 20px;
    color: rgb(36, 24, 46);
    font-weight: 800;
  }
}

/*for-mobile view-375*/

@media only screen and (min-width: 100px) and (max-width: 575px) {

  /* Global / Nav */
  header {
    padding: 1rem;
  }

  .logo-navbar .navbar {
    display: none;
  }

  .logo-navbar .icons i:last-child {
    display: inline-block;
  }

  .content h3 {
    font-size: 24px;
  }

  .content h5 {
    font-size: 15px;
    font-style: italic;
    color: var(--color-pink);
    font-weight: 400;
  }

  .scroll-top {
    right: 15px;
    bottom: 20px;
  }

  .container {
    width: 97%;
  }

  /* Banner */
  .banner {
    height: 453px;
    background-position: center;
  }

  section.banner .content {
    padding-top: 59px;
  }

  .banner .content h1 {
    font-size: 23px;
  }

  .banner .content h3 {
    font-size: 21px;
  }

  .content a {
    padding: 16px 20px;
    font-size: 13px;
  }

  .img-left-img {
    position: absolute;
    top: 324px;
    left: 14px;
  }

  .img-left-img img {
    width: 69px;
    display: block;
  }

  .img-right-img {
    position: absolute;
    top: 98px;
    right: 12px;
  }

  .img-right-img img {
    width: 71px;
    display: block;
  }

  /* Skills */
  section.Skills {
    padding: 75px 17px;
  }

  .Skill-Expect .image img {
    width: 371px;
  }

  .Skill-Expect .content h3 {
    font-style: italic;
    font-size: 24px;
    font-weight: 900;
    padding: 12px 0;
  }

  .Skill-Expect .content h5 {
    font-size: 16px;
  }

  /* Service 1 */
  section.service .container {
    width: 34%;
  }

  section.service .row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section.service .row .col-lg-6 {
    width: 100%;
  }

  .service .image img {
    height: 292px;
    object-fit: cover;
  }

  .content-service-1 {
    height: auto;
    padding: 0px 20px;
  }

  .content-service-1 .service-content {
    padding: 50px 0px;
    margin: 0;
  }

  .content-service-1 .service-content h3 {
    font-size: 24px;
    font-weight: 900;
    color: var(--color-white);
  }

  .content-service-1 .service-content h5 {
    font-size: 16px;
  }

  .content-service-1 .service-content p {
    font-size: 14px;
  }

  .content-service-1 .service-content a {
    font-size: 13px;
    font-weight: 900;
    padding: 14px 22px;
  }

  /* Service 2 */
  section.service-2 .row {
    flex-direction: column;
  }

  section.service-2 .row .col-lg-6 {
    width: 100%;
  }

  .service-2 .image img {
    height: 292px;
    object-fit: cover;
  }

  .service-2 .content-service-2 {
    height: auto;
    padding: 50px 20px;
  }

  .content-service-2 h3 {
    font-size: 24px;
    font-weight: 900;
  }

  .content-service-2 h5 {
    font-size: 24px;
    font-family: var(--font-main);
    color: var(--color-pink);
    font-weight: 100;
    font-style: italic;
  }

  .content-service-2 p {
    font-size: 14px;
  }

  /* Blog */
  .blog {
    background-color: var(--color-dark);
    padding: 142px 2px;
  }

  .blog-sec {
    flex-wrap: wrap;
  }

  .icon-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1px; */
    width: 44%;
  }

  .icon-content .content h4 {
    font-size: 12px;
  }

  /* Portfolio */
  .portfolio-sec .content h3 {
    font-size: 24px;
  }

  .portfolio-sec .content h5 {
    font-size: 15px;
    color: var(--color-pink);
  }

  .portfolio-sec .content .underline {
    background-color: var(--color-pink);
    width: 80px;
    height: 5px;
    margin: 0 auto;
  }

  .portfolio-sec .images-box img {
    width: 100%;
  }

  .portfolio-sec .images-box .image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 12px;
  }

  /* Customer */
  .slider {
    padding: 0 15px;
  }

  .slider-customer {
    padding: 25px 15px;
  }

  .slider-customer .image img {
    width: 60px;
    height: 60px;
  }

  .slider-customer .content-info p {
    color: rgb(37, 35, 35);
    line-height: 1.6;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    width: 70%;
    margin: 0px auto;
  }

  .slider-customer .info P {
    font-size: 13px;
    font-weight: 600;
    color: var(--color-pink);
  }

  .slick-slide img {
    display: block;
    width: 121px;
    margin: 0 auto;
  }

  /* Meet */
  section.meet .content h3 {
    font-size: 24px;
  }

  section.meet .content h5 {
    font-size: 15px;
  }

  section.meet .image {
    /* padding: 30px; */
    width: 100%;
  }

  .meet-sec .image img {
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease;
    width: 100%;
  }

  /* BG Image */
  .bg-image {
    object-fit: cover;
    padding: 60px 15px;
  }

  .bg-image .content {
    padding: 80px 0px;
  }

  .bg-image .content h3 {
    color: var(--color-white);
    font-size: 21px;
    line-height: 1.4;
  }

  /* Plan & Price */
  section.plan-price {
    background-color: var(--color-sky);
    padding: 55px 0px;
  }

  .plan-price .price-card {
    max-width: 390px;
  }

  .plan-price .card-container {
    gap: 20px;
  }

  .price-card ul li {
    font-size: 13px;
  }

  /* Tips */
  section.tips .content h3 {
    font-size: 24px;
  }

  section.tips .content h5 {
    font-size: 15px;
  }

  .card-tips {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .card-tips h3 {
    font-size: 18px;
    font-weight: 900;
  }

  .card-tips p {
    margin: 7px 0px;
    font-size: 14px;
  }

  .card-tips .image img {
    width: 100%;
    height: auto;
  }

  /* Generic Layout / Cards */
  .card {
    gap: 30px;
  }

  /* Form */
  .form-sec {
    padding: 60px 11px;
  }

  .form-sec .content {
    text-align: left;
  }

  .form-sec .content h3 {
    font-size: 24px;
    font-weight: 900;
    color: var(--color-white);
    padding: 0px 0px 8px 0px;
  }

  .form-sec .content h5 {
    font-size: 15px;
    font-weight: 900;
    color: var(--color-white);
    padding: 0px 0px 8px 0px;
  }

  .from-image-sec .image img {
    height: 222px;
    width: 100%;
    object-fit: cover;
  }

  /* Donor Slider */
  .donor-slider .donor-slide .image {
    float: left;
    /* padding: 0px 65px; */
    margin: 0 auto;
  }

  /* Footer */
  footer {
    background-color: rgb(41, 15, 66);
    color: var(--color-white);
    position: relative;
  }

  .footer-content {
    flex-direction: column;
  }

  .nno-card {
    width: 100%;
    padding: 0 13px;
  }

  .nno-card h3 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--color-white);
  }

  .nno-card p {
    font-family: var(--font-main);
    font-size: 13px;
  }

  .nno-card ul li a {
    font-size: 13px;
    font-family: var(--font-main);
  }

  .newsletter-form button {
    padding: 21px;
  }

  .newsletter-form button i {
    font-size: 18px;
  }

  .footer-image img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    margin-bottom: 0;
  }

  .end-footer {
    padding: 20px;
    text-align: center;
    position: relative;
    background-color: rgb(30, 12, 49);
  }

  .end-footer p {
    color: rgb(160, 158, 158);
    font-size: 11px;
    font-family: var(--font-main);
  }
}

/*for-small_mobile view-320*/
@media only screen and (min-width: 100px) and (max-width: 374px) {

  /* Banner */
  section.banner .content {
    padding-top: 32px;
  }

  .banner .content h1 {
    font-size: 24px;
  }

  .banner .content h3 {
    font-size: 27px;
  }

  /* Portfolio */
  .portfolio-sec .content h3 {
    font-size: 32px;
  }

  /* Customer */
  .slider-customer .content-info p {
    color: rgb(37, 35, 35);
    line-height: 1.6;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    width: 70%;
    margin: 0px auto;
  }

  .slider-customer .info P {
    font-size: 20px;
    color: rgb(36, 24, 46);
    font-weight: 800;
  }

  /* Meet */
  section.meet .content h3 {
    font-size: 32px;
  }

  /* Tips */
  .tips .content h3 {
    font-size: 32px;
  }
}