/*for-large-dekstop view-1200*/
@media only screen and (min-width: 100px) and (max-width: 1399px) {

  .banner .content h1 {
    font-size: 90px;
  }

  .banner .content h3 {
    font-size: 70px;
  }



}

/*for-laptop view-1024*/
@media only screen and (min-width: 100px) and (max-width: 1199px) {
  .container {
    width: 86%;
  }

  .banner .content h1 {
    font-size: 70px;
  }

  .banner .content h3 {
    font-size: 56px;
  }

  /* Skills */

  .Skill-Expect {
    flex-direction: column;
    text-align: center;
  }


  .Skill-Expect .image img {
    width: 582px;
  }

  section.Skills {
    padding: 81px 56px;
  }

  .Skill-Expect .content h5 {
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
  }

  .Skill-Expect .content h3 {
    font-size: 40px;
    padding: 0px;
  }

  .Skill-Expect .content p {
    line-height: 1.9;
    margin-top: 16px;
    font-size: 14px;
    color: var(--color-para);
    text-align: justify;
  }

  section.service .row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section.service-2 .row {
    flex-direction: column;
  }

  section.service .row .col-lg-6 {
    width: 100%;
  }

  section.service-2 .row .col-lg-6 {
    width: 100%;
  }

  .portfolio-sec .images-box img {
    width: 256px;
    height: auto;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
  }

  section.meet .meet-sec {
    flex-direction: column;
  }

  /* Form */
  .form-sec,
  .from-image-sec .image {
    width: 100%;
    float: none;
    height: auto;
  }

  .meet-sec .image img {
    width: 700px;
    height: 800px;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .nno-card {
    width: 21%;
  }

  .plan-price .price-card {
    max-width: 480px;
  }

  .footer-image img {
    width: 54px;
    height: 56px;
    object-fit: cover;
    margin-bottom: 0;
  }

  .footer-image {
    gap: 11px;
  }

  .from-image-sec .image img {
    height: 56vh;
    width: 100%;
    object-fit: cover;
  }

  section.plan-price .card {
    flex-direction: column;
  }

  .bg-image .content h3 {
    color: var(--color-white);
    font-size: 38px;
  }

  .form-sec form input {
    padding: 18px 15px;
    margin: 0px 0px 20px 0px;
    width: -webkit-fill-available;
    background-color: var(--color-dark);
    border: 1px solid white;
  }

  section.form .content {
    text-align: left;
  }

  .icon-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 30%;
  }
}

/*for-tablet view-768*/
@media only screen and (min-width: 100px) and (max-width: 991px) {

  .container {
    width: 90%;
  }

  .banner {
    height: 744px;
  }

  /* Banner */
  .banner .content h1 {
    font-size: 44px;
  }

  .img-left-img {
    position: absolute;
    top: 563px;
    left: 0;
  }

  .img-left-img img {
    width: 133px;
    display: block;
  }

  .img-right-img {
    position: absolute;
    top: 95px;
    right: 2px;
  }

  .img-right-img img {
    width: 107px;
    display: block;
  }

  .banner .content h3 {
    font-size: 36px;
  }

  /* Skills */
  .Skill-Expect {
    flex-direction: column;
    text-align: center;
  }

  .Skill-Expect .image img {
    width: 582px;
  }

  section.Skills {
    padding: 81px 11px;
  }

  .Skill-Expect .content h5 {
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
  }

  .Skill-Expect .content h3 {
    font-size: 40px;
    padding: 0px;
  }

  /* Services */
  .content-service-1,
  .content-service-2 {
    height: auto;
    padding: 60px 52px;
  }

  .content-service-1 .service-content {
    margin-left: 0;
  }

  /* Background image section */
  .bg-image {
    padding: 80px 20px;
  }

  .bg-image .content h3 {
    font-size: 50px;
    line-height: 1.3;
  }

  /* Blog icons */
  .blog-sec {
    flex-wrap: wrap;
  }


  .card {
    flex-wrap: wrap;
  }

  /* Form */
  .form-sec,
  .from-image-sec .image {
    width: 100%;
    float: none;
    height: auto;
  }

  .form-sec {
    padding: 60px 40px;
  }

  .footer-image {
    gap: 7px;
  }

  .footer-image img {
    width: 90px;
    height: 90px;
    margin-bottom: 0;
  }

  .newsletter-form input {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: var(--color-white);
    color: #333;
    outline: none;
    font-size: 14px;
  }

  section.service .row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section.service-2 .row {
    flex-direction: column;
  }

  section.service .row .col-lg-6 {
    width: 100%;
  }

  section.service-2 .row .col-lg-6 {
    width: 100%;
  }

  .content h5 {
    font-size: 24px;
    color: var(--color-pink);
  }

  .content h3 {
    font-size: 40px;

  }

  .portfolio-sec .images-box img {
    width: 375px;
    height: auto;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
  }

  .meet-sec .image img {
    width: 433px;
    height: 493px;
    object-fit: contain;
    transition: transform 0.4s ease;
  }

  section.meet .image {
    padding: 10px;
  }

  .bg-image {

    padding: 122px;

  }

  .bg-image .content h3 {
    color: var(--color-white);
    font-size: 37px;
  }


  .web-inf0 h4 {
    font-size: 32px;
  }

  .dollar-sign p {
    font-size: 75px;
  }

  .card-tips .card-tips .image img {
    width: 100px;
  }

  .tips .content h5 {
    font-size: 24px;
  }

  .tips .content h3 {
    font-size: 40px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  section.service .row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section.service-2 .row {
    flex-direction: column;
  }

  section.service .row .col-lg-6 {
    width: 100%;
  }

  section.service-2 .row .col-lg-6 {
    width: 100%;
  }

  .nno-card {

    width: 42%;
  }

  .plan-price .price-card {
    background-color: var(--color-white);
    padding: 43px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }

  .card-tips {
    width: 47%;
  }

  .icons i:last-child {
    display: inline-block;
  }

  .logo-navbar .navbar {
    display: none;
  }

  .icon-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 30;
  }

}

/*for-landscape_mobile view-576*/
@media only screen and (min-width: 100px) and (max-width: 767px) {
  section.Skills {
    padding: 122px;
  }

  .logo-navbar .navbar {
    display: none;
  }

  .logo-navbar .icons i:last-child {
    display: inline-block;
  }
}



/*for-mobile view-375*/

@media only screen and (min-width: 100px) and (max-width: 575px) {


  header {
    padding: 1rem;
  }

  .logo-navbar .navbar {
    display: none;
  }

  .logo-navbar .icons i:last-child {
    display: inline-block;
  }


  .banner {
    height: 453px;
    background-position: center;
  }

  .banner .content h1 {
    font-size: 23px;
  }

  .banner .content h3 {
    font-size: 21px;
  }

  .content a {
    padding: 16px 20px;
    font-size: 13px;
  }

  .img-left-img {
    position: absolute;
    top: 324px;
    left: 14px;
  }

  .img-left-img img {
    width: 69px;
    display: block;
  }

  .img-right-img {
    position: absolute;
    top: 98px;
    right: 12px;
  }

  .img-right-img img {
    width: 71px;
    display: block;
  }

  section.banner .content {
    padding-top: 59px;
  }


  section.Skills {
    padding: 75px 17px;
  }

  /* Portfolio images */
  .portfolio-sec .images-box img {
    width: 100%;
  }

  /* Customer slider section */
  .slider {
    padding: 0 15px;
  }

  .slider-customer {
    padding: 25px 15px;
  }

  .slider-customer .content-info p {
    font-size: 16px;
    width: 100%;
  }

  .slider-customer .image img {
    width: 60px;
    height: 60px;
  }


  .card {
    /* flex-direction: column; */
    gap: 30px;
  }

  .card-tips {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .card-tips .image img {
    width: 100%;
    height: auto;
  }

  /* Pricing cards */
  .plan-price .card-container {
    gap: 20px;
  }

  /* Footer */
  .footer-content {
    flex-direction: column;
  }

  .content-service-1 .service-content a {
    background-color: transparent;
    border: none;
    padding: 1rem 2.5rem;
    color: var(--color-white);
    font-weight: 700;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 2px solid var(--color-white);
  }

  .newsletter-form button {
    padding: 15px;
  }

  /* Scroll top */
  .scroll-top {
    right: 15px;
    bottom: 20px;
  }

  .portfolio-sec .content .underline {
    background-color: var(--color-pink);
    width: 80px;
    height: 5px;
    margin: 0 auto;
  }

  .Skill-Expect .image img {
    width: 371px;
  }

  .Skill-Expect .content h3 {
    font-style: italic;
    font-size: 24px;
    font-weight: 900;
    padding: 12px 0;
  }

  .Skill-Expect .content h5 {

    font-size: 16px;
  }

  section.service .container {
    width: 34%;
  }

  section.service .row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section.service-2 .row {
    flex-direction: column;
  }

  section.service .row .col-lg-6 {
    width: 100%;
  }

  section.service-2 .row .col-lg-6 {
    width: 100%;
  }

  .blog {
    background-color: var(--color-dark);
    padding: 142px 2px;
  }

  .content-service-2 h5 {
    font-size: 24px;
    font-family: var(--font-main);
    color: var(--color-pink);
    font-weight: 100;
    font-style: italic;
  }

  .content-service-2 h3 {
    font-size: 24px;
    font-weight: 900;
  }

  .content-service-1 .service-content h3 {
    font-size: 24px;
    font-weight: 900;
    color: var(--color-white);
  }

  .content-service-1 .service-content h5 {
    font-size: 16px;
  }

  .portfolio-sec .content h5 {
    font-size: 15px;
    color: var(--color-pink);
  }

  .portfolio-sec .content h3 {
    font-size: 24px;
  }

  .content h5 {
    font-size: 15px;
    font-style: italic;
    color: var(--color-pink);
    font-weight: 400;
  }

  .content h3 {
    font-size: 24px;
  }

  section.meet .content h5 {
    font-size: 15px;
  }

  section.meet .content h3 {
    font-size: 24px;
  }

  .bg-image {
    /* height: 576px; */
    object-fit: cover;
    padding: 60px 15px;
    /* background-position: center; */
  }

  .bg-image .content h3 {
    color: var(--color-white);
    font-size: 28px;
    line-height: 1.4;
  }

  .bg-image .content {
    padding: 80px 0px;
  }

  section.tips .content h3 {
    FONT-SIZE: 24PX;
  }

  section.tips .content h5 {
    FONT-SIZE: 15PX;
  }

  .form-sec .content {
    text-align: left;
  }

  .form-sec .content h3 {
    font-size: 24px;
    font-weight: 900;
    color: var(--color-white);
    padding: 0px 0px 8px 0px;
  }

  .form-sec .content h5 {
    font-size: 15px;
    font-weight: 900;
    color: var(--color-white);
    padding: 0px 0px 8px 0px;
  }

  .icon-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .portfolio-sec .images-box .image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 12px;
  }

  .plan-price .price-card {
    background-color: var(--color-white);
    padding: 43px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    flex: 1;
    min-width: 300px;
    max-width: 392px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }

  section.plan-price {
    background-color: var(--color-sky);
    padding: 55px 0px;
  }

  .nno-card {
    width: 100%;
  }

  .footer-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0;
  }
}



/*for-small_mobile view-320*/
@media only screen and (min-width: 100px) and (max-width: 374px) {

  section.banner .content {
    padding-top: 32px;
  }

  .banner .content h1 {
    font-size: 24px;
  }

  .banner .content h3 {
    font-size: 27px;
  }

  .tips .content h3,
  .portfolio-sec .content h3,
  section.meet .content h3 {
    font-size: 32px;
  }


}